---
import Layout from "../layouts/Layout.astro"
---
<Layout title="not found url">
    <h1>
        404 URL NOT FOUND
    </h1>
    <h2>
        go back previous url
    </h2>
</Layout>
<style>
    >* {
        color: #F2E7DC
    }
    h1 {
        font-size: clamp(3em , 3em + 10px, 5em);
    }
    h2 {
        font-size: 1.5em;
    }
</style>