---
import Layout from "../layouts/Layout.astro";
import "./css/index.css";
---
<Layout title="Astrojs training" client:visible>
  <section class="sec1" >
    <h1>Firstofzen</h1>
  </section>
  <section class="sec2">

  </section>
  <section class="sec3">
    
  </section>
</Layout>

<style>  
</style>
