---
const { title } = Astro.props;
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-50 dark:bg-black min-h-[350px] min-w-[250px]">
    <Header />
    <slot>
      <p class="text-5xl text-center text-black dark:text-slate-300">Loading...</p>
    </slot>
  </body>
</html>